################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/NFilesManager/v15
/packages
/Tests/obj/Debug
/obj/Release
/.vs
/bin/Debug
/MigrationBackup/9b5a6229/NFilesManagerTests
/Tests/bin/Debug
