################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/NFilesManager/v15
/packages
/Tests/obj/Debug
